.offset1
{
	margin-top:40px;
}

.jumbotron
{
	 margin-bottom:-40px !important;
}
/*test*/
/*input:valid, input:in-range {     background:hsl(120, 50%, 90%);     border-color:hsl(120, 50%, 50%); }  */
input:invalid, input:out-of-range {     border-color:hsl(0, 50%, 50%);     background:hsl(0, 50%, 90%); }